#include "layers.dtsi"

#define APLHA_LAYERS DEF

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <30>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

#define GLOBAL_COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    timeout-ms = <50>; \
    key-positions = <KEYPOS>; \
  };

COMBO(gui &kp LGUI, 12 13, ALPHAS)

COMBO(left_vertical_game_layer_toggle, &to 5, 10 20, APLHAS)
COMBO(right_vertical_game_layer_toggle, &to 5, 19 29, APLHAS)

COMBO(left_vertical_enter, &kp ENTER, 1 11, APLHAS)
COMBO(right_vertical_enter, &kp ENTER, 8 18, APLHAS)

COMBO(left_vertical_escape, &kp ESC, 2 12, APLHAS)
COMBO(right_vertical_escape, &kp ESC, 7 17, APLHAS)

COMBO(left_vertical_delete, &kp DEL, 3 13, APLHAS)
COMBO(right_vertical_delete, &kp DEL, 6 16, APLHAS)

COMBO(left_vertical_backspace, &kp BSPC, 4 14, APLHAS)
COMBO(right_vertical_backspace, &kp BSPC, 5 15, APLHAS)

GLOBAL_COMBO(left_bottom_utility_layer_toggle, &to UTL, 21 22 23)
GLOBAL_COMBO(right_bottom_utility_layer_toggle, &to UTL, 26 27 28)
